.header {
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
}

.header__image {
  width: 173px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 41px;
}

@media screen and (max-width: 785px) {
  .header__image {
    padding-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header__image {
    height: 24px;
    width: 126px;
    margin: 28px 167px 32px 27px;
    padding: 0;
  }
}
