.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 19px;
  padding-left: 19px;

  /* smooth transition when opening */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  /* smooth transition when opening */
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px #000000;
  color: #000000;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
}

.modal__container_preview-image {
  box-shadow: 2px 2px 2px 2px #000000;
  color: #000000;
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
  top: 90px;
  bottom: 90px;
  max-height: 540px;
}

.modal__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
}

.modal__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__heading {
  margin: 0px 0px 54px;
  font-weight: 900;
  font-size: 24px;
}

.modal__form-field {
  margin: 0;
  position: relative;
  width: 358px;
}

.modal__input {
  width: 100%;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  /* max-width: 358px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.modal__input:last-of-type {
  margin-top: 30px;
}

.modal__error_visible {
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  bottom: -28px;
  left: 0px;
  max-width: 358px;
}

.modal__button {
  padding: 15px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000000;
  margin-top: 45px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.modal__button_disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.modal__image-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  font-family: Inter;
  margin-top: 10px;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .modal__container {
    max-width: 282px;
    padding: 22px;
    box-sizing: border-box;
  }

  .modal__close-button {
    height: 26px;
    width: 26px;
    top: -50px;
    right: 0px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .modal__form-field {
    width: 238px;
  }

  .modal__input {
    max-width: 238px;
  }

  .modal__button {
    max-width: 238px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}
