@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/gallery.css");
@import url("../blocks/card.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 480px) {
  .page__section {
    max-width: 480px;
    width: 100%;
    padding: 0;
    margin: 0 19px;
  }

  .page__content {
    padding: 0;
  }

  .header__image {
    height: 24px;
    width: 126px;
    margin: 28px 167px 32px 27px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 42px 19px 36px;
    max-width: 282px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__image {
    margin: 0 auto 30px;
  }

  .profile__title {
    font-size: 22px;
    font-family: "Inter";
    font-weight: 500;
    margin-bottom: 14px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin: 0 0 0 10px;
    border: solid #ffffff 1px;
  }

  .profile__description {
    margin: 0 auto 36px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0 auto 36px;
    width: 282px;
  }

  .footer__content {
    margin: 48px 19px 36px;
  }
}

@media screen and (max-width: 785px) {
  .page__section {
    max-width: 785px;
    width: 100%;
    padding: 0;
    margin-left: 19px;
    margin-right: 19px;
  }

  .page__content {
    width: 100%;
  }

  .header {
    margin-top: 45px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .profile__description {
    text-align: center;
    margin: 0 auto 36px;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 282px;
  }
}
